$font-size: 14px;
$text-color: #333;
$hover-background: #e0e0e0;

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Style cho nội dung modal */
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 1000px;
    width: 100%;
}

/* Style cho nút đóng modal */
.btn-close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;

    font-weight: bold;
}

.btn-close-modal:hover,
.btn-close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-tabs {
    border-bottom: 0;
}

#select-change-site {
    width: 200px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;

    // Dropdown arrow
    select {
        height: 30px;
    }

    // Option styling
    option {
        font-size: $font-size;
        color: $text-color;

        &:hover {
            background-color: $hover-background;
        }
    }

    optgroup {
        font-weight: 400 !important;
        padding: 10px;

        option {
            line-height: 30px;
            padding-left: 20px;
        }
    }
}


