@import './core/index';
@import './components/inc_box_chart';
@import './components/inc_table_statistics';

.content-wrapper {
    background: #ecf0f5;
}

.report {
    &-header {
        display: flex;
        justify-content: space-between;
    }

    &-content {
        margin-top: 20px;
    }
}

.breadcrumb {
    &-list {
        display: flex;
        list-style: none;
        color: #AB1D1D;;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 34px;

        li:not(:first-child) {
            &:before {
                content: "/";
                padding: 5px;

            }
        }
    }
}

.content {
    .nav > li > a {
        padding: 5px 10px;
    }
}

.box-title {
    b {
        font-size: 18px;
    }
}

.box-filter {
    form {
        button[type="submit"] {
            background-color: #00a65a;
            color: #ffffff;
        }
    }
}

.nav-tabs {
    margin-bottom: 8px;

    li.active {
        > a {
            background-color: #00a65a;
            color: #ffffff;

            &:hover {
                background: #ffffff;
                color: #333;
            }
        }
    }
}

.btn-show-modal-detail {
    cursor: pointer;
    font-size: 12px;
    color: #3c8dbc;

    &:hover {
        color: #00a65a;
    }
}

.scroll-top {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 110;

    .content-scroll-top {
        cursor: pointer;
        width: 50px;
        height: 50px;
        background-color: rgb(209, 209, 209);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background: #2b333d;

            i {
                color: #fff;
            }
        }
    }
}

.js-header-fix.fixed {
    position: fixed;
    top: 0;
    left: 270px;
    right: 0;
    width: calc(100% - 270px);
    z-index: 999;
    background-color: #ffffff;
    border-bottom: 2px dashed #ccc;
}

.form-filter-report {
    display: flex;
}

.d-none {
    display: none !important;
}

.btn-nav-move {
    position: absolute;
    top: 60px;
    z-index: 10;
    padding: 6px 12px;
    //height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        i {
            color: #3c8dbc;
        }
    }

    i {
        font-size: 20px;
        color: #868484;
        cursor: pointer;
    }
}

.nav-pre {
    left: 15px;
}

.nav-next {
    right: 15px;
}

.item-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin: 0 8px 20px;

    .item-tab-title {
        min-width: 130px;
        /*color: #3c8dbc;*/
        font-weight: 500;
        font-size: 16px;
        padding: 20px;
        cursor: pointer;

        border-radius: 4px;
    }

    .item-tab-title:hover {
        background-color: rgba(60, 141, 188, 0.1) !important;
    }

}

.item-tab.active {
    .item-tab-title {
        color: #3c8dbc;
        border-top: 4px solid #3c8dbc;
        border-top: 4px solid #3c8dbc;
        font-weight: bold;
    }
}

.table-content-chart {
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 536px;

    .table-item {
        margin-bottom: 20px;

        .item-title {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 15px;
        }

        .item-value {
            font-size: 16px;
            color: #3c8dbc;
            font-weight: bold;
        }

        padding: 20px;
        border-radius: 10px;
        border: 1px solid #3491ec;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: rgba(60, 141, 188, 0.1) !important;
        }
    }

}

.nav-tabs {
    position: sticky;
}

// Css template traffic ranking
.group-items {
    max-height: 415px;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        -webkit-box-shadow: inset 0 0 6px rgba(111, 111, 111, 0.2);
        background-color: #72bde5;
    }

    .item {
        &:hover {
            background-color: #f5f5f5;
        }

        cursor: pointer;
        padding: 10px;
        color: #333;

        .item-rank {
            font-size: 16px;
            font-weight: bold;
        }

        .item-name {
            font-size: 14px;
            font-weight: 500;
        }

        .item-traffic {
            color: #0a58ca;
        }
    }

}

// End
