.box-chart {
    background: #fff;
    margin-bottom: 30px;

    .chart-header {
        padding: 15px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .box-title {
            font-size: 1.5rem;
            color: #333;

            a {
                font-size: inherit;
                color: inherit;
            }
        }

        .btn-see-details {
            font-size: 0.9rem;
            text-decoration: underline;
        }

        .group-report {
            font-size: 0.85rem;
        }

        label {
            margin: 0 4px 0 0;
            font-weight: normal;
            padding: 4px;
            border-radius: 0;
            color: #868686;
            background-color: #ececec;
            border-color: #ddd;
            cursor: pointer;
        }

        label.active {
            background-color: #00a65a;
            color: #ffffff;
        }
    }

    .chart-main {
        padding: 15px;
        width: 100%;
    }

    .chart-nav-tab {
        display: flex;
        width: auto;
        overflow: auto;
        padding: 0;
    }

    .chart-nav-tab::-webkit-scrollbar {
        display: none;
    }
}