// css table statistic traffic_redirect
.box-table-statistic {
    background-color: #ffffff;
    overflow-x: scroll;
    padding: 15px;

    .absolute-top-left {
        position: absolute;
        top: 0;
        left: 0;
    }

    .absolute-top-right {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.box-table-legend {
    display: flex;

    .table-legend-item {
        margin-right: 16px;
        display: flex;
        align-items: center;

        input {
            margin: 0;
        }

        label {
            margin-left: 4px;
        }
    }
}

// end css table statistic traffic_redirect